@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-image: radial-gradient(#e5e7eb 0.5px, transparent 0.5px);
  background-size: 24px 24px;
}
